In [24]:
import pandas as pd
import numpy as np

In [19]:
a =pd.read_csv("cost_matrix_1e.csv",header = None)

In [25]:
a = np.array(a)

In [32]:
os.listdir("../../1-e")

['cost_matrix']

In [33]:
np.savetxt("../../1-e/cost_matrix/cost_matrix_1e.csv",
           a, delimiter=',')

In [21]:
a[a < 10] = 10

In [12]:
pd.read_csv("../../outputs/data.csv")

,Unnamed: 0,latitude,longitude,venta_frutas,venta_verduras,superficie_bodega,num_personas,hora_apertura_semana,hora_cierre_semana,abre_fin_de_semana,...,hora_apertura_fin_de_semana (seconds),hora_cierre_fin_de_semana (hour),hora_cierre_fin_de_semana (minute),hora_cierre_fin_de_semana (seconds),vende_FyV,geometry,place_lon,place_lat,Time to market (mins),Taxi price
0,0,-12.038805,-76.947609,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,-11.962990,-77.019870,1,1,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.011133994866 -12.0642529),-77.011134,-12.064253,40.966667,12.716889
2,2,-12.008620,-76.976800,1,1,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.011133994866 -12.0642529),-77.011134,-12.064253,26.450000,10.000000
3,3,-12.118304,-77.024742,0,1,2.0,1.0,09:30:00,19:00:00,yes,...,0.0,19.0,0.0,0.0,1.0,POINT (-77.011133994866 -12.0642529),-77.011134,-12.064253,22.983333,10.000000
4,4,-12.118167,-77.024822,0,1,1.0,1.0,08:00:00,16:30:00,yes,...,0.0,16.0,0.0,0.0,1.0,POINT (-77.011133994866 -12.0642529),-77.011134,-12.064253,23.066667,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,250,-12.227278,-76.957982,1,1,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.0010990802198 -11.9600977),-77.001099,-11.960098,65.816667,20.446972
251,251,-12.219718,-76.944915,1,0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.0010990802198 -11.9600977),-77.001099,-11.960098,62.016667,19.267144
252,252,-12.224536,-76.949702,1,1,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.0010990802198 -11.9600977),-77.001099,-11.960098,62.700000,19.480237
253,253,-12.008637,-76.976799,1,1,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.0077799954169 -12.0612351),-77.007780,-12.061235,27.700000,10.000000
254,254,-12.001251,-76.986144,1,1,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,POINT (-77.0044102 -12.0843519),-77.004410,-12.084352,35.166667,10.920898

In [16]:
(pd.read_csv("duration_matrix_vende-fyv.csv",header = None))/60

,0,1,2,3,4,5,6,7,8,9,...,244,245,246,247,248,249,250,251,252,253
0,0.000000,19.289000,32.128500,32.177333,32.207500,32.190333,32.197333,32.250667,32.119167,32.120000,...,18.209833,18.209833,18.932000,17.371167,16.815500,45.735667,42.812833,44.004333,19.287333,17.005167
1,20.148000,0.000000,23.778333,23.827167,23.857500,23.840167,23.847167,23.900667,23.769000,23.769833,...,12.787333,12.787333,13.509667,11.948667,11.393000,37.167833,34.245000,35.436333,0.001667,11.582667
2,31.990667,23.875167,0.000000,0.048833,0.079000,0.061833,0.068833,0.122167,1.098833,1.099667,...,26.144833,26.144833,26.867000,25.306167,24.750500,23.523667,20.600833,21.792167,23.873500,24.940167
3,31.941833,23.826333,1.059333,0.000000,0.030333,0.013000,0.020000,0.073333,1.050000,1.050833,...,26.096000,26.096000,26.818167,25.257333,24.701667,23.474833,20.552000,21.743333,23.824667,24.891333
4,31.911667,23.796000,1.029167,1.078000,0.000000,1.091000,1.098000,0.043167,1.019833,1.020500,...,26.065667,26.065667,26.788000,25.227000,24.671333,23.444500,20.521667,21.713167,23.794500,24.861000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,47.072000,36.910167,24.657500,24.706333,24.736500,24.719333,24.726333,24.779667,24.648167,24.649000,...,40.986833,40.986833,41.709000,40.148167,39.592333,0.000000,3.863667,2.879333,36.908667,39.782167
250,44.378167,34.216333,21.963667,22.012500,22.042667,22.025500,22.032333,22.085833,21.954333,21.955000,...,38.292833,38.292833,39.015167,37.454167,36.898500,3.831167,0.000000,1.383500,34.214667,37.088167
251,45.263500,35.101833,22.849167,22.898000,22.928167,22.910833,22.917833,22.971333,22.839667,22.840500,...,39.178333,39.178333,39.900667,38.339667,37.784000,3.156000,1.846333,0.000000,35.100167,37.973667
252,20.146333,0.001667,23.776833,23.825667,23.855833,23.838667,23.845500,23.899000,23.767500,23.768167,...,12.785833,12.785833,13.508000,11.947000,11.391333,37.166167,34.243333,35.434833,0.000000,11.581000
253,17.084667,12.125167,26.104833,26.153667,26.183833,26.166667,26.173667,26.227000,26.095500,26.096333,...,1.865500,1.865500,2.587833,1.026833,0.189667,39.364333,36.441333,37.632833,12.123667,0.000000